// Colors and Backgrounds
$background-color_firsttype:#BAD8E3;
$background-color_secondtype:#1B213A;
$background-color_thirdtype: #FFFFFF;
$background-color_fourthttype:#B7E0EE;
$background-color_fivthstype:#107ADC;
$background-color_sixthtype:rgba(16, 122, 220, 0.15);
$box-shadow:  11px 20px 55px rgba(0, 23, 31, 0.1);
$color_fisrttype:#000000;
$color_secondtype:#FFFFFF;
$color_thirdtype:#666666;
$color_fourthtype:#1B213A;
$color-seventhtype:#C4C4C4;
